<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlvviCY1HG9mn63SQotPE4BN3UMgbLuiE</string>
	<key>GCM_SENDER_ID</key>
	<string>79633479840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tadafuq.k2help</string>
	<key>PROJECT_ID</key>
	<string>k2help-a84da</string>
	<key>STORAGE_BUCKET</key>
	<string>k2help-a84da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79633479840:ios:3c6088ee474c01828271c5</string>
	<key>DATABASE_URL</key>
	<string>https://k2help-a84da-default-rtdb.firebaseio.com</string>
</dict>
</plist>